body {
	background:#494949;
	color: #FFFFFF;
	padding:0;
	margin:0;
	font-weight:bold;
	overflow:hidden;
	font-family:Monospace;
	font-size:13px;

}

#galaxyDetailView {
	background:#A9A9A9;
	color: #FFFFFF;
}

#galaxyView {
	position: absolute;
	left: 20px;
	top: 20px;
}