@CHARSET "ISO-8859-1";

body {
		background: url('image/background.png') no-repeat center center fixed;
		background-color:#010101;
		color:#FFFFFF;
		font-family:Arial, Helvetica, sans-serif;
	}

#logoBox {
		position: absolute;
		left: 25%;
		top: 80px;
	}
	
#downloadBox {
		position: absolute;
		right: 25%;
		top: 50px;
		width: 150px;
		height: 100px;
	}	
	
#contentBox {
		position: absolute;
		left: 25%;
		top: 300px;
		width: 50%;
		height: 50%;
		/*background-color: #FF0000;*/
	}
	
#buttonBox {
		position: absolute;
		left: 25%;
		top: 230px;
		width: 50%;
		height: 50px;
		/*background-color: #FFFFFF;*/
	}	
	
#largeSpanButton {	
		position: absolute;
	  	left: 25px;
	  	top: 32px;
	  	width: 135px;
		height: 140px;
	  	font-size: 36px;
	  	font-weight: bolder;
	  	font-family: 'Russo One', sans-serif !important;	
	}
	
#asteroidField {
		position: absolute;
		top: 200px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		overflow-x: hidden;
		overflow-y:hidden;
	}	
	
.asteroid {
		margin-left: -400px;
		position: absolute;
	}	
	
.rock1 {
		background: url('image/Met01.png');
		height: 400px;
		width: 400px;
	}	
	
.rock2 {
		background: url('image/met01a.png');
		height: 100px;
		width: 100px;
	}	
	
.rock3 {
		background: url('image/met02.png');
		height: 100px;
		width: 100px;
	}	
	
.rock3 {
		background: url('image/met03.png');
		height: 100px;
		width: 100px;
	}	
	
.rock4 {
		background: url('image/met04.png');
		height: 100px;
		width: 100px;
	}	
	
.rock5 {
		background: url('image/met05.png');
		height: 100px;
		width: 100px;
	}	
	
.glow {
		text-shadow: 0 0 20px white;
	}

.playButton a:hover {
		text-shadow: 0 0 20px red;
	}
	
.playButton a:link, .playButton a:visited ,.playButton a:active {
		color: #FFFFFF !important;
	}	
	
.playButton {
	    -webkit-transition: text-shadow 1s linear;
    	-moz-transition: text-shadow 1s linear;
    	-ms-transition: text-shadow 1s linear;
    	-o-transition: text-shadow 1s linear;
    	transition: text-shadow 1s linear;
	}	
	
a:link 		{ color: #0099FF; text-decoration: none }
a:active 	{ color: #0099FF; text-decoration: none }
a:visited	{ color: #0099FF; text-decoration: none }
a:hover 	{ color: #FF0000; text-decoration: none }	